#endText,
#time,
#firstEnd,
#firstEndText,
#secondEnd,
#secondEndText,
#thirdEndText,
#thirdEnd,
#fourthEndText,
#fourthEnd,
#fifthEndText,
#fifthEnd,
#sixthEnd,
#sixthEndText,
#seventhEnd,
#seventhEndText,
#eighthEnd,
#eighthEndText {
  color: white;
  font-size: 8.5vh;
   font-family: 'Play';
  font-weight:bold;
  margin: 0px 0px;
  display: inline-block;
  margin-left: 5px;
  cursor: default;
  line-height: 10.5vh;
}
#title {
  color: #db3d3d;
  font-size: 30px;
 font-family: 'Play';
  font-weight:bold;
  float: right;
  top: -30;
  position: relative;
    line-height: 10vh;
}


#time, #endText {
  color:#FF1C3E;
}